<footer>

    <!-- Copyright et Mentions à gauche -->
    <div class="footer-left">
        Créé avec <img class="footer-love" src="app/images/footer-love.svg" alt="Love"/> par l'<a href="mailto:exoteam.fr@capgemini.com?subject=[Trombi]">Exoteam</a>, tous droits réservés.
    </div>

    <!-- Logo Capgemini à droite -->
    <div class="footer-right">
        <img style="height: 25px; width: 110px" class="footer-capgemini" src="app/images/footer-logo-capgemini.svg" alt="Logo Capgemini"/>
    </div>

</footer>