
.title_admin {
    background-color: #75616B;
    color: #ffffff;
    font-family: Calibri, serif;
    font-variant: small-caps;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 35px;
    padding-left: 10px;
    font-size: 20px;
}

.tabAdmin {
    min-width: 1000px;
    margin-top : 5em;
}

.panel {
    margin: 0 auto;
    width: 100%;
}

.users_center {
    width: 95%;
    margin: 1cm auto 0;
}

.footer {
    margin: 0 auto;
    width: 95%
}

.table-scrollable {
    overflow: auto;
}

.table {
    margin: 0 auto;
    float: none;
    border-collapse: collapse;
    vertical-align: middle;
    border: 5px solid #ddd;
}

tbody tr:hover td, th {
    background-color: #add8e6;
}

.table td {
    border: 1px solid #ddd;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.table th {
    border: 1px solid #ddd;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.table th {
    border-top: 0;
}

.table tr:last-child td {
    border-bottom: 0;
}

.table tr td:first-child, .admin_table th:first-child {
    border-left: 0;
}

.table tr td:last-child, .admin_table th:last-child {
    border-right: 0;
}

.panelAdmin{
    margin-bottom : 65px;
}